.App {
  text-align: center;
  margin-left: 19.6%;
  margin-right: 19.6%;
}

/* Header */
#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 10px;
}
#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
#nav ul li {
  display: inline;
  margin: 0 5px;
}

/* Main */
